/db/_pycache_/
/db/minteruser.db
/db/APIkeys.db 
/db/content.db
/db/LKYwallets.db
/db/LTCwallets.db
/db/DOGEwallets.db
/db/BELwallets.db
/db/admins.db
/backup/
/getOrdTxsDoge/node_modules/
/getOrdTxsLKY/node_modules/
/getOrdTxsLTC/node_modules/
/getOrdSmsDoge/node_modules/
/getOrdTxsJKC/node_modules/
/doginals/node_modules/
/_pycache_/
.gitignore
API.py
/workingOnThis/
/db/creditsWallet.json
/rc001/